.div-line {
  color: brown;
}
.code-warp {
  background: black;
  color: white;
  text-align: left;
  margin: 2px;
  padding: 10px 20px;
}
.co-ex {
  color: red;
}
.co-설명 {
  color: goldenrod;
}
.footnote {
  color: green;
}
.co-css-class {
  color: goldenrod;
}
.co-css-id {
  color: rgb(42, 187, 231);
}
.co-css-tag {
  color: rgb(241, 33, 137);
}
.co-function {
  color: blue;
}
.co-const {
  color: coral;
}
.co-if {
  color: plum;
}
.co-for {
  color: rgb(69, 10, 231);
}
.fn-start,
.fn-end {
  color: antiquewhite;
}
.text-highlite {
  color: aquamarine;
}
.co-html-lt,
.co-html-gt {
  color: red;
}
.co-html-tag {
  color: rgb(241, 33, 137);
}
.co-html-atr {
  color: rgb(174, 243, 14);
}
.co-return {
  color: rgb(136, 5, 136);
}
.co-arrayFunc {
  color: aqua;
}
.p-red {
  color: red;
}
.p-green {
  color: green;
}
