.div-line {
  color: brown;
}
.code-warp {
  background: black;
  color: white;
  text-align: left;
  margin: 1rem 0;
  padding: 10px 20px;
}
.co-ex {
  color: red;
}
.co-설명 {
  color: goldenrod;
}
.footnote {
  color: rgb(14, 194, 23);
}
.co-css-class {
  color: goldenrod;
}
.co-css-id {
  color: rgb(42, 187, 231);
}
.co-css-tag {
  color: rgb(241, 33, 137);
}
.co-function {
  color: blue;
}
.co-const {
  color: coral;
}
.co-if {
  color: plum;
}
.co-for {
  color: rgb(69, 10, 231);
}
.fn-start,
.fn-end {
  color: antiquewhite;
}
.text-highlite {
  color: aquamarine;
}
.co-html-lt,
.co-html-gt {
  color: red;
}
.co-html-tag {
  color: rgb(241, 33, 137);
}
.co-html-atr {
  color: rgb(174, 243, 14);
}
.co-return {
  color: rgb(136, 5, 136);
}
.co-arrayFunc {
  color: aqua;
}
.p-red {
  color: red;
}
.p-green {
  color: green;
}

.type-tag {
  color: plum;
}

.type-class {
  color: bisque;
}
.type-id {
  color: skyblue;
}

.css-variable {
  color: cornflowerblue;
}
.css-value {
  color: indianred;
}

.js-export {
  color: plum;
}
.js-const {
  color: skyblue;
}
.js-variable {
  color: red;
}
.js-variable-type {
  color: greenyellow;
}
.js-value {
  color: rgb(99, 99, 230);
}
.js-value-type {
  color: greenyellow;
}
.js-arrowFnc {
  color: aqua;
}
.js-arrowFnc-variable {
  color: aquamarine;
}
.js-arrowFnc-variable-type {
  color: rgb(48, 48, 229);
}

.js-interface {
  color: darkorange;
}
.js-interface-name {
  color: yellow;
}
.js-interface-variable {
  color: rgb(247, 104, 15);
}
.js-interface-value {
  color: rgb(54, 118, 237);
}

.js-enum {
  color: yellowgreen;
}
.js-enum-name {
  color: darkorange;
}
.js-enum-variable {
  color: rgb(247, 104, 15);
}
.js-enum-value {
  color: rgb(54, 118, 237);
}

.js-import {
  color: rgb(231, 54, 231);
}
.js-return-declare {
  color: rgb(136, 57, 136);
}
.js-return {
  color: coral;
}

.js-import-call {
  color: aquamarine;
}
.js-import-libray {
  color: aquamarine;
}

.desc {
  color: red;
}

.ex-type {
  color: cyan;
}
